.gb-toast {
  background-color: var(--gb-bg-color);
  color: var(--gb-text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: var(--gb-border-radius);
  max-width: calc(100vw - 32px);
  font-weight: 600;
  font-size: 16px;

  .Toastify__close-button {
    color: var(--gb-accent-color);
  }

  .Toastify__progress-bar {
    &,
    &--bg {
      background-color: var(--gb-accent-color);
    }
  }
}
