.user-daily-nutrition {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nutrition-caption {
    color: var(--tg-theme-link-color);
  }
}
