.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  color: var(--gb-hint-color);
  font-size: 16px;
  line-height: 20px;
}

.input-wrapper {
  position: relative;

  --input-padding-block: 8px;
  --input-line-height: 20px;
  --input-border-width: 2px;

  .input {
    border: var(--input-border-width) solid rgba(var(--gb-hint-color--rgb), 0.5);
    padding: var(--input-padding-block) 16px;
    border-radius: var(--gb-border-radius);
    background-color: var(--gb-bg-color);
    color: var(--gb-text-color);
    outline: none;
    font-size: 16px;
    line-height: var(--input-line-height);
    width: 100%;
    transition: all 0.2s ease;

    &:focus {
      border-color: var(--gb-accent-color);
    }

    &--error {
      border-color: var(--gb-danger-color);
      color: var(--gb-danger-color);
    }

    &--postfix {
      padding-inline-end: calc(
        var(--input-line-height) + var(--input-padding-block) * 2 + var(--input-border-width) * 2
      );
    }

    &:focus + .input-postfix {
      color: var(--gb-accent-color);
    }
  }

  .input-postfix {
    color: rgba(var(--gb-hint-color--rgb), 0.5);
    position: absolute;
    right: var(--input-border-width);
    top: 50%;
    transform: translateY(-50%);
    min-width: 40px;
    line-height: var(--input-line-height);
    font-size: 20px;
    padding-inline-end: 16px;
    padding-block-end: 4px;
    text-align: right;
  }
}

.input-error {
  font-size: 12px;
  line-height: 12px;
  color: var(--gb-danger-color);
  font-weight: 500;
}
