.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--gb-bg-color);
  overflow: hidden;
  border-radius: var(--gb-border-radius);
  z-index: 1;
  min-width: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .dropdown-menu-item {
    border-radius: 0;

    &:not(:last-child) {
      border-block-end: 1px solid rgba(var(--gb-hint-color--rgb), 0.5);
    }
  }
}
