.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--gb-bg-color);
  overflow: hidden;
  border-radius: var(--gb-border-radius);
  z-index: 1;
  box-shadow: var(--gb-box-shadow);
  border: 2px solid rgba(var(--gb-hint-color--rgb), 0.2);
  min-width: 100px;

  .dropdown-menu-item {
    border-radius: 0;

    &:not(:last-child) {
      border: 0;
      border-block-end: 2px solid rgba(var(--gb-hint-color--rgb), 0.2);
    }
  }
}
