.nutrition-page {
  position: relative;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block-end: 64px;

  .add-button {
    position: fixed;
    bottom: calc(var(--page-nav--height) + 16px);
    right: 16px;
  }
}
