.gb-modal {
  background-color: var(--gb-bg-color);
  border-radius: 8px 8px 0 0;
  width: 100%;
  transition: transform 300ms ease-in-out;
  transform: translateY(100%);
  overflow-y: auto;
  box-shadow: var(--gb-box-shadow);
  border: 2px solid rgba(var(--gb-hint-color--rgb), 0.5);
  border-block-end: none;
  display: flex;
  flex-direction: column;

  &.ReactModal__Content--after-open {
    transform: translateY(0);
  }

  &.ReactModal__Content--before-close {
    transform: translateY(100%);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: opacity 300ms ease-in-out;
    z-index: 2;

    &.ReactModal__Overlay--after-open {
      opacity: 1;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
    }

    &.ReactModal__Overlay--before-close {
      opacity: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 16px 16px;
  }

  &__title {
    color: var(--gb-accent-color);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  &__content {
    flex: 1;
  }
}
