.product-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px 16px;
  gap: 8px 12px;

  .control--full-width {
    grid-column: 1 / 3;
  }

  &,
  .control--full-width,
  .control--right-half-width {
    & > div[class^='tgui-'] {
      padding: 20px 8px 16px;
    }
  }

  .submit-button {
    grid-column: 2 / 3;
    padding-block-start: 12px;

    button {
      width: 100%;
    }
  }
}
